flows.json
[
    {
        "id": "7e2f22fb.731edc",
        "type": "tab",
        "label": "Robot Code",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d5e9c731.8eb868",
        "type": "ui_tab",
        "z": "",
        "name": "Monitoring Menu",
        "icon": "tv",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2cbd5b68.eb9e84",
        "type": "ui_group",
        "z": "",
        "name": "Humidity Monitoring Data",
        "tab": "d5e9c731.8eb868",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "71827393.e9df9c",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#ff8000",
                "baseFont": "Lucida Sans Typewriter,Lucida Console,Monaco,monospace",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#0c6b0e",
                "baseFont": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#40ae7c",
                    "value": "#0c6b0e",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0c6b0e",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#373737",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": true
                },
                "group-textColor": {
                    "value": "#00b700",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#b1b1b1",
                    "edited": true
                },
                "group-backgroundColor": {
                    "value": "#373737",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#ffffff",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#0c6b0e",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#373737",
                    "edited": true
                },
                "base-font": {
                    "value": "Century Gothic,CenturyGothic,AppleGothic,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Internet Of Things Monitoring",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "adc08fe9.246e2",
        "type": "ui_group",
        "z": "",
        "name": "Temperature Monitoring Data",
        "tab": "d5e9c731.8eb868",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "3a72ecdb.400c44",
        "type": "ui_group",
        "z": "",
        "name": "Smoke",
        "tab": "d5e9c731.8eb868",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "44077d69.5948e4",
        "type": "dropbox-config",
        "z": "",
        "name": "Pictures"
    },
    {
        "id": "536071d2.8bfbd",
        "type": "MySQLdatabase",
        "z": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "Internet",
        "tz": "GMT +8"
    },
    {
        "id": "16365f22.4e7e31",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/ttyACM0",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "d3030b84.fa07e8",
        "type": "blynk-ws-client",
        "z": "",
        "name": "IOT",
        "path": "ws://blynk-cloud.com/websockets",
        "key": "qQtz_G9yw7sJcDxT_telyOjVOcdwSGDz",
        "dbg_all": true,
        "dbg_read": false,
        "dbg_write": false,
        "dbg_notify": false,
        "dbg_mail": false,
        "dbg_prop": false,
        "dbg_sync": false,
        "dbg_bridge": false,
        "dbg_low": false,
        "dbg_pins": "",
        "multi_cmd": false,
        "proxy_type": "no",
        "proxy_url": "",
        "enabled": true
    },
    {
        "id": "3ddbd35e.59424c",
        "type": "ui_group",
        "z": "",
        "name": "Camera Capture",
        "tab": "fad6b625.3c61f8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "fad6b625.3c61f8",
        "type": "ui_tab",
        "z": "",
        "name": "Control Menu",
        "icon": "party_mode",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d0d094e9.b69318",
        "type": "ui_group",
        "z": "",
        "name": "Human Detection Status",
        "tab": "d5e9c731.8eb868",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "cb086ecf.ebf77",
        "type": "ui_group",
        "z": "",
        "name": "Table",
        "tab": "fad6b625.3c61f8",
        "order": 3,
        "disp": true,
        "width": "11",
        "collapse": false
    },
    {
        "id": "534c3358.a659dc",
        "type": "ui_group",
        "z": "",
        "name": "hidden_group",
        "tab": "e6121875.cff928",
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "e6121875.cff928",
        "type": "ui_tab",
        "z": "",
        "name": "Zooland Sys",
        "icon": "home",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "96173186.be8f6",
        "type": "ui_tab",
        "z": "",
        "name": "Show All Chart",
        "icon": "show_chart",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "89c2f3c.4aae41",
        "type": "ui_group",
        "z": "",
        "name": "Monitoring & Security Robot",
        "tab": "96173186.be8f6",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false
    },
    {
        "id": "169535a2.ce690a",
        "type": "ui_group",
        "z": "",
        "name": "Streaming Camera",
        "tab": "fad6b625.3c61f8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ddcd4c26.fe2d4",
        "type": "ui_group",
        "z": "",
        "name": "Show Gauge",
        "tab": "96173186.be8f6",
        "order": 2,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "2d70ad1c.6b09c2",
        "type": "inject",
        "z": "7e2f22fb.731edc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "10",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 110,
        "y": 400,
        "wires": [
            [
                "d9c79a94.af2628"
            ]
        ]
    },
    {
        "id": "b98d42c5.ad5ac",
        "type": "debug",
        "z": "7e2f22fb.731edc",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 870,
        "y": 400,
        "wires": []
    },
    {
        "id": "d9c79a94.af2628",
        "type": "rpi-dht22",
        "z": "7e2f22fb.731edc",
        "name": "DHT11",
        "topic": "rpi-dht22",
        "dht": "11",
        "pintype": "0",
        "pin": "27",
        "x": 350,
        "y": 400,
        "wires": [
            [
                "b98d42c5.ad5ac",
                "d86bb0fc.1f39d",
                "6f1b8f13.ff98",
                "6809335f.8b290c"
            ]
        ]
    },
    {
        "id": "d86bb0fc.1f39d",
        "type": "function",
        "z": "7e2f22fb.731edc",
        "name": "Temperature",
        "func": "msg.payload = msg.payload\nmsg.topic = \"Temperature\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 540,
        "wires": [
            [
                "bb6b135b.1f5ad",
                "54b3cf85.978dd",
                "10db99dc.991546",
                "c550b092.cf295",
                "6be6aad9.3a1ba4",
                "2063ff7a.aac05",
                "caa5f32b.e0fb5",
                "5b28f6f0.b29598"
            ]
        ]
    },
    {
        "id": "6f1b8f13.ff98",
        "type": "function",
        "z": "7e2f22fb.731edc",
        "name": "Humidity",
        "func": "msg.payload = msg.humidity;\nmsg.topic = \"Humidity\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 880,
        "y": 920,
        "wires": [
            [
                "8e841351.adc7a",
                "24adaa9f.7c9ef6",
                "6ca36d3c.99d8e4",
                "f7050d11.daf5b",
                "eea54a40.21a6c8",
                "2063ff7a.aac05",
                "8117a285.3cf8d",
                "28b86c0e.7112a4"
            ]
        ]
    },
    {
        "id": "bb6b135b.1f5ad",
        "type": "debug",
        "z": "7e2f22fb.731edc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1230,
        "y": 680,
        "wires": []
    },
    {
        "id": "8e841351.adc7a",
        "type": "debug",
        "z": "7e2f22fb.731edc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1230,
        "y": 1080,
        "wires": []
    },
    {
        "id": "24adaa9f.7c9ef6",
        "type": "ui_chart",
        "z": "7e2f22fb.731edc",
        "name": "",
        "group": "2cbd5b68.eb9e84",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Humidity",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#ff8000",
            "#ff8000",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#008000",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1220,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "54b3cf85.978dd",
        "type": "ui_gauge",
        "z": "7e2f22fb.731edc",
        "name": "",
        "group": "adc08fe9.246e2",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "85",
        "x": 1230,
        "y": 440,
        "wires": []
    },
    {
        "id": "6ca36d3c.99d8e4",
        "type": "ui_gauge",
        "z": "7e2f22fb.731edc",
        "name": "",
        "group": "2cbd5b68.eb9e84",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": " %",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0f1ba6",
            "#d26c4a",
            "#3a1010"
        ],
        "seg1": "25",
        "seg2": "60",
        "x": 1220,
        "y": 800,
        "wires": []
    },
    {
        "id": "a6a81443.c3cc88",
        "type": "dropbox out",
        "z": "7e2f22fb.731edc",
        "dropbox": "44077d69.5948e4",
        "filename": "{{msg.filename}}.png",
        "localFilename": "",
        "name": "Dropbox",
        "x": 1221,
        "y": 235,
        "wires": []
    },
    {
        "id": "8514d39.e71ff3",
        "type": "rpi-gpio in",
        "z": "7e2f22fb.731edc",
        "name": "",
        "pin": "16",
        "intype": "tri",
        "debounce": "25",
        "read": false,
        "x": 350,
        "y": 160,
        "wires": [
            [
                "746c1a76.f50e44",
                "944b2fe3.00c8f",
                "56d0fe07.c4a61",
                "e4b25722.174798",
                "64d0bb37.b79be4",
                "6c270e9c.fc054"
            ]
        ]
    },
    {
        "id": "944b2fe3.00c8f",
        "type": "rpi-gpio out",
        "z": "7e2f22fb.731edc",
        "name": "",
        "pin": "18",
        "set": true,
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 880,
        "y": 40,
        "wires": []
    },
    {
        "id": "91d47e20.f9a1d",
        "type": "debug",
        "z": "7e2f22fb.731edc",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1231,
        "y": 188,
        "wires": []
    },
    {
        "id": "c4eae9ed.f1af98",
        "type": "mysql",
        "z": "7e2f22fb.731edc",
        "mydb": "536071d2.8bfbd",
        "name": "IOT",
        "x": 1210,
        "y": 720,
        "wires": [
            [
                "752fcf76.8c1b5"
            ]
        ]
    },
    {
        "id": "752fcf76.8c1b5",
        "type": "debug",
        "z": "7e2f22fb.731edc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1550,
        "y": 720,
        "wires": []
    },
    {
        "id": "6809335f.8b290c",
        "type": "function",
        "z": "7e2f22fb.731edc",
        "name": "SQL Query",
        "func": "Temperature = msg.payload\nHumidity = msg.humidity;\nmsg.topic = \"INSERT INTO IOT (temperature, humidity) VALUES (\"+ Temperature + \",\" + Humidity +\")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "746c1a76.f50e44",
        "type": "function",
        "z": "7e2f22fb.731edc",
        "name": "PIR",
        "func": "msg.payload = msg.payload\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 240,
        "wires": [
            [
                "768ee1c1.dec55"
            ]
        ]
    },
    {
        "id": "768ee1c1.dec55",
        "type": "debug",
        "z": "7e2f22fb.731edc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1231,
        "y": 315,
        "wires": []
    },
    {
        "id": "78431c4c.a4e494",
        "type": "serial in",
        "z": "7e2f22fb.731edc",
        "name": "Arduino",
        "serial": "16365f22.4e7e31",
        "x": 290,
        "y": 1160,
        "wires": [
            [
                "bbacc71d.4fc638"
            ]
        ]
    },
    {
        "id": "227e9005.66265",
        "type": "ui_text",
        "z": "7e2f22fb.731edc",
        "group": "3a72ecdb.400c44",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Smoke Data",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1230,
        "y": 1280,
        "wires": []
    },
    {
        "id": "47e4a61a.aa64a8",
        "type": "ui_gauge",
        "z": "7e2f22fb.731edc",
        "name": "",
        "group": "3a72ecdb.400c44",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Smoke Data",
        "label": " PPM",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1230,
        "y": 1160,
        "wires": []
    },
    {
        "id": "b99f8e89.b83f6",
        "type": "ui_chart",
        "z": "7e2f22fb.731edc",
        "name": "",
        "group": "3a72ecdb.400c44",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Smoke Data",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "bezier",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#0080ff",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1230,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "f7050d11.daf5b",
        "type": "ui_text",
        "z": "7e2f22fb.731edc",
        "group": "2cbd5b68.eb9e84",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1220,
        "y": 920,
        "wires": []
    },
    {
        "id": "10db99dc.991546",
        "type": "ui_text",
        "z": "7e2f22fb.731edc",
        "group": "adc08fe9.246e2",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1230,
        "y": 520,
        "wires": []
    },
    {
        "id": "4a746827.9e6b48",
        "type": "function",
        "z": "7e2f22fb.731edc",
        "name": "Smoke",
        "func": "msg.data = msg.payload;\nmsg.topic = \"Smoke\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 770,
        "y": 1440,
        "wires": [
            [
                "6b8ae922.c2d298",
                "2063ff7a.aac05",
                "5da5f82b.38c138"
            ]
        ]
    },
    {
        "id": "dc7d09aa.5e0038",
        "type": "mysql",
        "z": "7e2f22fb.731edc",
        "mydb": "536071d2.8bfbd",
        "name": "IOT",
        "x": 1210,
        "y": 1380,
        "wires": [
            [
                "26e0b30d.5b1c3c"
            ]
        ]
    },
    {
        "id": "26e0b30d.5b1c3c",
        "type": "debug",
        "z": "7e2f22fb.731edc",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1410,
        "y": 1380,
        "wires": []
    },
    {
        "id": "6b8ae922.c2d298",
        "type": "function",
        "z": "7e2f22fb.731edc",
        "name": "SQL Query",
        "func": "Smoke = msg.payload\nmsg.topic = \"INSERT INTO Smoke (smokedata) VALUES (\" + Smoke + \")\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1050,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "56d0fe07.c4a61",
        "type": "usbcamera",
        "z": "7e2f22fb.731edc",
        "filemode": "0",
        "filename": "{{msg.filename}}.png",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "png",
        "resolution": "1",
        "name": "Camera",
        "x": 880,
        "y": 160,
        "wires": [
            [
                "91d47e20.f9a1d",
                "a6a81443.c3cc88",
                "1eee1fdf.b137b"
            ]
        ]
    },
    {
        "id": "c550b092.cf295",
        "type": "blynk-ws-out-write",
        "z": "7e2f22fb.731edc",
        "name": "Temperature",
        "pin": "1",
        "pinmode": 0,
        "client": "d3030b84.fa07e8",
        "x": 1230,
        "y": 560,
        "wires": []
    },
    {
        "id": "eea54a40.21a6c8",
        "type": "blynk-ws-out-write",
        "z": "7e2f22fb.731edc",
        "name": "Humidity",
        "pin": "3",
        "pinmode": 0,
        "client": "d3030b84.fa07e8",
        "x": 1220,
        "y": 960,
        "wires": []
    },
    {
        "id": "ab95f828.cc7c28",
        "type": "blynk-ws-out-write",
        "z": "7e2f22fb.731edc",
        "name": "Smoke",
        "pin": "6",
        "pinmode": 0,
        "client": "d3030b84.fa07e8",
        "x": 1210,
        "y": 1320,
        "wires": []
    },
    {
        "id": "f66e1931.18e9b8",
        "type": "e-mail",
        "z": "7e2f22fb.731edc",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": false,
        "name": "group2siskomdat@gmail.com",
        "dname": "Mail",
        "x": 1211,
        "y": 275,
        "wires": []
    },
    {
        "id": "64d0bb37.b79be4",
        "type": "function",
        "z": "7e2f22fb.731edc",
        "name": "Status",
        "func": "msg = {\n    payload : \"Human Detection \" + Date().toString(),\n    topic : \"Room Status\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 200,
        "wires": [
            [
                "f66e1931.18e9b8"
            ]
        ]
    },
    {
        "id": "e4b25722.174798",
        "type": "function",
        "z": "7e2f22fb.731edc",
        "name": "notification message",
        "func": "msg.topic = 'Room Status';\nmsg.payload = 'Human!';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 920,
        "y": 100,
        "wires": [
            [
                "12f549eb.4928f6",
                "c610e62d.30c8f8",
                "cf9580cc.a9424"
            ]
        ]
    },
    {
        "id": "12f549eb.4928f6",
        "type": "ui_toast",
        "z": "7e2f22fb.731edc",
        "position": "top right",
        "displayTime": "3",
        "highlight": "",
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "topic": "",
        "name": "",
        "x": 1240,
        "y": 20,
        "wires": []
    },
    {
        "id": "cf9580cc.a9424",
        "type": "ui_audio",
        "z": "7e2f22fb.731edc",
        "name": "Audio",
        "group": "2cbd5b68.eb9e84",
        "voice": "id-ID",
        "always": true,
        "x": 1210,
        "y": 60,
        "wires": []
    },
    {
        "id": "6be6aad9.3a1ba4",
        "type": "ui_chart",
        "z": "7e2f22fb.731edc",
        "name": "",
        "group": "adc08fe9.246e2",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#006f00",
            "#1d691d",
            "#ff7f0e",
            "#299829",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1230,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "9a9d197f.479b38",
        "type": "debug",
        "z": "7e2f22fb.731edc",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 1230,
        "y": 1500,
        "wires": []
    },
    {
        "id": "46675f55.82d07",
        "type": "usbcamera",
        "z": "7e2f22fb.731edc",
        "filemode": "0",
        "filename": "{{msg.filename}}.png",
        "filedefpath": "1",
        "filepath": "",
        "fileformat": "png",
        "resolution": "1",
        "name": "Camera",
        "x": 820,
        "y": 1560,
        "wires": [
            [
                "9a9d197f.479b38",
                "5784d7e7.7605b8",
                "401383e3.fdd16c",
                "315efece.2a5472"
            ]
        ]
    },
    {
        "id": "8fb06ff0.33824",
        "type": "ui_button",
        "z": "7e2f22fb.731edc",
        "name": "",
        "group": "3ddbd35e.59424c",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Capture Location",
        "tooltip": "",
        "color": "black",
        "bgcolor": "",
        "icon": "add_a_photo",
        "payload": "true",
        "payloadType": "bool",
        "topic": "",
        "x": 310,
        "y": 1520,
        "wires": [
            [
                "46675f55.82d07"
            ]
        ]
    },
    {
        "id": "5784d7e7.7605b8",
        "type": "image",
        "z": "7e2f22fb.731edc",
        "name": "",
        "width": 160,
        "x": 1240,
        "y": 1580,
        "wires": []
    },
    {
        "id": "315efece.2a5472",
        "type": "ui_template",
        "z": "7e2f22fb.731edc",
        "group": "3ddbd35e.59424c",
        "name": "",
        "order": 1,
        "width": "6",
        "height": "5",
        "format": "<iframe scrolling=no marginwidth=0 marginheight=0 frameborder=0 height=500 width=300 src=\"/{{msg.filename}}.png\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1220,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "1eee1fdf.b137b",
        "type": "ui_template",
        "z": "7e2f22fb.731edc",
        "group": "d0d094e9.b69318",
        "name": "",
        "order": 2,
        "width": "6",
        "height": "5",
        "format": "<iframe scrolling=no marginwidth=0 marginheight=0 frameborder=0 height=500 width=300 src=\"/{{msg.filename}}.png\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 1221,
        "y": 142,
        "wires": [
            []
        ]
    },
    {
        "id": "5e1d2f0.2326dd",
        "type": "blynk-ws-in-write",
        "z": "7e2f22fb.731edc",
        "name": "Snap",
        "pin": "8",
        "pin_all": 0,
        "client": "d3030b84.fa07e8",
        "x": 270,
        "y": 1580,
        "wires": [
            [
                "46675f55.82d07"
            ]
        ]
    },
    {
        "id": "2063ff7a.aac05",
        "type": "ui_chart",
        "z": "7e2f22fb.731edc",
        "name": "",
        "group": "89c2f3c.4aae41",
        "order": 1,
        "width": "20",
        "height": "10",
        "label": "Monitoring All Sensor Data",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#ff8000",
            "#0080ff",
            "#217621",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1600,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "29465630.8c80fa",
        "type": "inject",
        "z": "7e2f22fb.731edc",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 830,
        "y": 1620,
        "wires": [
            [
                "315efece.2a5472"
            ]
        ]
    },
    {
        "id": "401383e3.fdd16c",
        "type": "dropbox out",
        "z": "7e2f22fb.731edc",
        "dropbox": "44077d69.5948e4",
        "filename": "{{msg.filename}}.png",
        "localFilename": "",
        "name": "Dropbox",
        "x": 1220,
        "y": 1540,
        "wires": []
    },
    {
        "id": "bbacc71d.4fc638",
        "type": "delay",
        "z": "7e2f22fb.731edc",
        "name": "Delay",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 470,
        "y": 1160,
        "wires": [
            [
                "ab95f828.cc7c28",
                "4a746827.9e6b48",
                "6b8ae922.c2d298",
                "47e4a61a.aa64a8",
                "b99f8e89.b83f6",
                "227e9005.66265",
                "c23574c0.7c2128"
            ]
        ]
    },
    {
        "id": "6c270e9c.fc054",
        "type": "ui_led",
        "z": "7e2f22fb.731edc",
        "group": "d0d094e9.b69318",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Human Status",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "green",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "red",
                "value": "0",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "name": "",
        "x": 870,
        "y": 280,
        "wires": []
    },
    {
        "id": "21c4092a.132d26",
        "type": "ui_template",
        "z": "7e2f22fb.731edc",
        "group": "534c3358.a659dc",
        "name": "Clock Toolbar",
        "order": 2,
        "width": "0",
        "height": "0",
        "format": "<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "global",
        "x": 100,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "bb6ecfda.a832c",
        "type": "ui_template",
        "z": "7e2f22fb.731edc",
        "group": "169535a2.ce690a",
        "name": "Streaming",
        "order": 1,
        "width": "6",
        "height": "5",
        "format": "<iframe scrolling=no marginwidth=0 marginheight=0 frameborder=0 height=500 width=300 src=\"http://192.168.100.71:8888/\"></iframe>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 1230,
        "y": 1660,
        "wires": [
            []
        ]
    },
    {
        "id": "1982f694.1107b9",
        "type": "ui_template",
        "z": "7e2f22fb.731edc",
        "group": "d0d094e9.b69318",
        "name": "Streaming Motion",
        "order": 1,
        "width": "6",
        "height": "4",
        "format": "<iframe scrolling=no marginwidth=0 marginheight=0 frameborder=0 height=500 width=300 src=\"http://192.168.100.71:8888/\"></iframe>",
        "storeOutMessages": false,
        "fwdInMessages": false,
        "templateScope": "local",
        "x": 1250,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "caa5f32b.e0fb5",
        "type": "wiotp out",
        "z": "7e2f22fb.731edc",
        "authType": "d",
        "qs": "true",
        "qsDeviceId": "caa5f32b.e0fb5",
        "deviceKey": "",
        "deviceType": "",
        "deviceId": "",
        "event": "Temperature",
        "format": "json",
        "qos": "",
        "name": "",
        "x": 1230,
        "y": 620,
        "wires": []
    },
    {
        "id": "8117a285.3cf8d",
        "type": "wiotp out",
        "z": "7e2f22fb.731edc",
        "authType": "d",
        "qs": "true",
        "qsDeviceId": "caa5f32b.e0fb5",
        "deviceKey": "",
        "deviceType": "",
        "deviceId": "",
        "event": "Humidity",
        "format": "json",
        "qos": "",
        "name": "Humidity",
        "x": 1220,
        "y": 1020,
        "wires": []
    },
    {
        "id": "5da5f82b.38c138",
        "type": "wiotp out",
        "z": "7e2f22fb.731edc",
        "authType": "d",
        "qs": "true",
        "qsDeviceId": "caa5f32b.e0fb5",
        "deviceKey": "",
        "deviceType": "",
        "deviceId": "",
        "event": "Smoke",
        "format": "json",
        "qos": "",
        "name": "Smoke",
        "x": 1210,
        "y": 1440,
        "wires": []
    },
    {
        "id": "c23574c0.7c2128",
        "type": "ui_gauge",
        "z": "7e2f22fb.731edc",
        "name": "",
        "group": "ddcd4c26.fe2d4",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Smoke Data",
        "label": " PPM",
        "format": "{{value}}",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 1230,
        "y": 1200,
        "wires": []
    },
    {
        "id": "28b86c0e.7112a4",
        "type": "ui_gauge",
        "z": "7e2f22fb.731edc",
        "name": "",
        "group": "ddcd4c26.fe2d4",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "wave",
        "title": "Humidity",
        "label": " %",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0f1ba6",
            "#d26c4a",
            "#3a1010"
        ],
        "seg1": "25",
        "seg2": "60",
        "x": 1220,
        "y": 840,
        "wires": []
    },
    {
        "id": "5b28f6f0.b29598",
        "type": "ui_gauge",
        "z": "7e2f22fb.731edc",
        "name": "",
        "group": "ddcd4c26.fe2d4",
        "order": 1,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "85",
        "x": 1230,
        "y": 400,
        "wires": []
    },
    {
        "id": "c610e62d.30c8f8",
        "type": "blynk-ws-out-notify",
        "z": "7e2f22fb.731edc",
        "name": "Human",
        "client": "d3030b84.fa07e8",
        "queue": false,
        "rate": 5,
        "x": 1220,
        "y": 100,
        "wires": []
    }
]